.intro_container{
    display: flex;
    flex-direction: column;
    width: 80%;
    color: whitesmoke;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
}

.img_container{
    min-height: 11rem;
    min-width: 11rem;
    max-height: 11rem;
    max-width: 11rem;
    align-self: center;
    margin-top: 1rem;
}

.remarked{
    background-color: whitesmoke;
    color: #010409;
}

.welcome_message{
    font-size: 34px;
    line-height: 1.8;
    margin-top: .2rem;
    margin-bottom: .2rem;
}

.intro_textito{
    font-size: 18px;
    margin-top: 1.5rem;
}

.intro_text_container{
    text-align: center;
}

/* .imgg{
    border-radius: 50%;
} */

@media (min-width: 1024px) {
.intro_container{
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-top: auto;
    margin-bottom: auto;
}

.img_container{
    margin-left: 1rem;
    align-self: normal;
}

.intro_text_container{
    text-align: start;
}
.intro_textito{
    font-size: 21px;
    margin-top: 2rem;
}

.welcome_message{
    font-size: 38px;
}

.img_container{
    min-height: 14rem;
    min-width: 14rem;
    max-height: 14rem;
    max-width: 14rem;
}
  }