.portfolio_container{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio_title{
    color: #170d0e;
    text-align: center;
    font-size: 52px;
    padding-top: 3rem;
    font-family: 'Bebas Neue', sans-serif;
}

.works_logo_container{
    width: 100%;
    padding: 3rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}

@media only screen and (min-width: 992px) and (max-width: 1370px) {
    .works_logo_container{
        width: 90%;
        padding: 0;
        gap: 1.5rem;
    }

    .portfolio_title{
        width: 50%;
        border-bottom: .2rem solid #170d11;
        padding-bottom: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 5rem;
        margin-bottom: 3rem;
        font-size: 62px;
        font-family: 'Bebas Neue', sans-serif;
    }
    .portfolio_container{
        height: auto;
        padding-bottom: 5rem;
    }
  }

  @media (min-width: 1370px) {    
    .portfolio_container{
        min-height: 105vh;
        padding-bottom: 3rem;
    }
    .portfolio_title{
        width: 50%;
        border-bottom: .2rem solid #0d1117;
        padding-top: 4rem;
        padding-bottom: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 66px;
        font-family: 'Bebas Neue', sans-serif;
    }
  }
