.contact_container{
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact_title{
    color: #0d1117;
}