.footer_container{
    width: 100%;
    min-height: 4rem;
    background-color: #010409;
    box-shadow: 0 0 6px white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_text{
    color: rgba(255, 255, 255, 0.397);
    margin-bottom: 0;
    font-size: 14px;
}

@media (min-width: 1024px) {
    .footer_container{
        position: relative;
    }
}