.about_div{
    height: 100vh;
    background-color: #0d1117;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.about_container{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first_div{
    width: 50%;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    font-size: 21px;
}

.second_div{
    width: 40%;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    font-size: 21px;
    justify-content: space-around;
}

.about_titles{
    font-size: 38px;
}

.about_icons{
    font-size: 2rem;
    align-self: center;
    color: rgba(255, 255, 255, 0.6);
}

.tech_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1.5px solid whitesmoke;
    border-radius: 12px;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.tech_texts{
    margin-bottom: 0;
    font-size: 21px;
    color: rgba(255, 255, 255, 0.6);
}

.education_texts{
    margin-left: 3rem;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
}

.about_titles_icons{
    text-align: center;
    padding-bottom: .7rem;
}

.icons_text{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 0;
    margin-top: .2rem;
}

.aboutme_intro{
    color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
    
    .about_div{
        height: auto;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .about_container{
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .first_div{
        width: auto;
    }

    .second_div{
        width: auto;
        margin-left: 0;
    }

    .about_titles_icons{
        text-align: start;
        margin-top: 2rem;
    }
    .tech_container{
     padding: 1rem;
    }

    .aboutme_intro{
        font-size: 18px;
    }

    .tech_texts{
        font-size: 18px;
    }
    .education_texts{
        font-size: 16px;
    }

    .icons_text{
        font-size: 16px;
    }
  }
